{% extends "layout.twig" %}

{%block content%}

<div class="container">
<h2>About us</h2>
	<div class="well">
		<img class="marginr pull-left" src="images/ambinter_logo.png"/><p><strong>MolEditor</strong> is a product developed by <a href="http://www.ambinter.com">Ambinter</a>, a brand of <a href="http://www.greenphrma.com">Greenpharma SAS</a>.</p>
		<p><strong>Ambinter</strong> is a global supplier of chemical compounds (screening, building blocks, natural products...) with an online catalogue of more than 20 million structures. Ambinter offers also chemoinformatics services (molecular database, customed tools development, compound selection, virtual screening, molecular modelling...)</p>
	</div>
	<a class="pull-right btn btn-lg btn-primary " href="mailto:chemoinformatics@ambinter.com"><span class="glyphicon glyphicon-envelope"></span> Contact us</a>
</div>

{% endblock %}
