{% extends "layout.twig" %}

{%block content%}

<div class="container">
	<h2>License</h2>
	<div class="well">
	MolEditor is a free software under <a href="http://www.gnu.org/licenses/gpl-3.0.en.html">GNU General Public License Version 3 <img src="images/gplv3_logo.png"/></a>
	</div>


</div>

{% endblock %}
