{{form_start(form)}}
	  <div class="modal-dialog">
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title">{{filter.longfiltername}} filter</h4>
		  </div>
		  <div class="modal-body form-filter">
				{{form(form)}}
		  </div>
		  <div class="modal-footer">
		  
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			<button type="submit" class="btn btn-primary">Filter</button>
		  </div>
		</div>
	  </div>
{{form_end(form)}}        

