html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 5em; /* bottom = footer height */
}

svg:not(:root) {
	overflow: visible;

}
svg {
	width:150px;
	height:150px;
}

table {
	font-size:1.3rem;
}
table thead tr {
	background-color:#428BCA;
	color:white;
}
table thead tr a {
	color:white;
}
table thead tr a:visited {
	color:white;
}

table input[type=text] {
	padding-left:2px;
	padding-right:2px;
	border:1px solid white;
	width:100%;
}
table input[type=submit] {
	display:none;
}

table input[type=text]:hover {
	border:1px solid grey;
}

thead th:first-child, thead .availability  {
	width:1%;
	white-space: nowrap;
}
tbody td:first-child, tbody .availability {
	background-color:#F5F5F5;
}

h1 {
	background-color:#428BCA;
	padding:0.3em;
	margin-top:0;
	color:white;
	height:1.6em;
}
h1 a > img
{
	width:1em;
	vertical-align:top;
	box-shadow:0px 0px 2px white;
}
h1 a {
	color:white;
}
h1 a:hover {
	color:white;

}
a {
	cursor:pointer;
}

#ketcher  .modal-content {
	width:725px;
}

.content {
	margin:1em;
	margin-bottom:0;
}



.form_index label {
	font-size:1.2em;
}
.form_index input[type=text] {
	font-size:1.3em;
	color:#428BCA;
}

textarea {
	resize:vertical;
}

.img-thumbnail  {
	width:300px;
	height:300px;
}

.img-thumbnail svg {
	width:100%;
	height:100%;
}

.thumbnail {
	margin-bottom:0.5em;
	height:205px;
}

.small {
	font-size:0.8em;
}

.large {
	font-size:1.2em;
}
.pointer {
	cursor:pointer;
}
.help {
	cursor:help;
}

.margina {
	margin:0.4em;
}
.margint {
	margin-top:0.4em;
}

.marginb {
	margin-bottom:0.4em;
}
.marginr {
	margin-right:0.4em;
}
.marginl {
	margin-left:0.4em;
}

.media .glyphicon {
	font-size:2.5em;
}
.pres .glyphicon {
	font-size:5em;
	color:#428BCA;
}

.pres > div {
	margin-top:2em;
	padding:2em;
	border-radius:0.3em;
}
.pres > div:hover {
	background-color:#EEEEEE;
}
.footer {
	color:#428BCA;
	background-color:#EEEEEE;
	padding-top:1em;
	padding-bottom:1em;
	box-shadow:0px -1px 2px grey;
	margin-bottom:0;
	width:100%;
	margin-top:2em;
	position:absolute;
	bottom:0;
	height:3em;
}
.footer ul {
	margin:0;
	padding:0;
}

.container ul {
	list-style:none;
	padding-top:1em;
	padding-left:1em;
}

.logo {
  display: inline-block;
  height: 2em;
  vertical-align:top;
  margin-top:-0.5em;
}
.navbar-brand {
	padding-bottom:0;
}
.navbar {
	background-color:#F5F5F5;
}
.media .logo {
	height:64px;
	margin-top:0;
}
.formimport2 input[type="checkbox"] + label {
	text-decoration: line-through;
}

.formimport2 input[type="checkbox"]:checked + label {
	text-decoration:inherit;
}

.formimport2 input[type="checkbox"]:checked + select {
	visibility:hidden;
}

.onoff {
	display:inline-block;
	width:6rem;
	height:2.6rem;
	border-radius:4px;
	background:#F5F5F5;
	vertical-align:middle;
	margin-right:0.3rem;
	box-shadow:0px 0px 3px;
	text-decoration:none;
	cursor:pointer;

}
.onoff:hover, .onoff:visited {
	text-decoration:none;
}
.spin {
	display:inline-block;
	width:2.1rem;
	height:2.1rem;
	margin:0.2rem;
	border-radius:4px;
	font-size:1.1em;
	color:grey;
	font-weight:bold;
	color:grey;
}
.on {
	background-color:#5CB85C;
	float:left;
}
.on::after {
	content:'ON';
	margin-left:2.5rem;
}
.off {
	background-color:#D9534F;
	float:right;
}
.off::before {
	content:'OFF';
	margin-left:-3.3rem;
}

.btn > span {
	margin-bottom:0.4em;
}

.valignb {
	vertical-align:bottom;
}

